<div class="menu">

  <h2>Menu</h2>

  <div class="filters">

    <button (click)="selectCategory(null)">
      All
    </button>

    @for (cat of categories; track cat.id) {
      <button (click)="selectCategory(cat.id)">
        {{ cat.name }}
      </button>
    }

  </div>

  <div class="grid">

    @for (dish of filteredDishes; track dish.id) {
      <div class="card">

        <img [src]="dish.imageUrl" />

        <div class="content">
          <h3>{{ dish.name }}</h3>
          <p>{{ dish.description }}</p>

          <div class="bottom">
            <span class="price">{{ dish.price }} ₴</span>

            @if (dish.status === 'OUT_OF_STOCK') {
              <span class="status">Unavailable</span>
            }
          </div>
        </div>

      </div>
    }

  </div>
</div>
